@charset "UTF-8";
/* CSS reset */
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu {margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:normal;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{font:12px/1.14 arial,simsun;color:#333;outline:0;}
body{background:#fff;}
a,a:hover{color:#333;}
html { -webkit-text-size-adjust: none; }
img { max-width: 100%; height: auto; width: auto;}
.video embed, .video object, .video iframe { width: 100%; height: auto; }

/* 文字排版及定位 */
.ff0 {font-family: arial;}
.ff1 {font-family: "Microsoft YaHei";}
.ff2 {font-family: "Hiragino Sans GB";}
.f12 {font-size: 12px;}
.f13 {font-size: 13px;}
.f14 {font-size: 14px;}
.f16 {font-size: 16px;}
.f18 {font-size: 18px;}
.f20 {font-size: 20px;}
.f22 {font-size: 22px;}
.fn {font-weight: normal;}
.fb {font-weight: bold;}
.fcp {cursor: pointer;}
.unl {text-decoration: underline;}
.no_unl {text-decoration: none;}

.tl {text-align: left;}
.tr {text-align: right;}
.tc {text-align: center;}
.bc {margin-right: auto; margin-left: auto;}
.fl {float: left; display: inline;}
.fr {float: right; display: inline;}
.cb {clear: both;}
.cl {clear: left;}
.cr {clear: right;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden} 
.clearfix{*+height:1%;} 
.clearfix:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;} 
.clearfix{*zoom:1;}/
.vm {vertical-align: middle;}
.pr {position: relative;}
.pa {position: absolute;}
.abs-right {position: absolute;right: 0;}
.zoom {zoom: 1;}
.none {display: none;}

@media screen and (max-width:1250px) {
	.gr-container {margin: 0 auto; width: 960px;}
	.gr-body .bd-product {width: 1065px; margin-right: 107px;}
	.gr-body .bd-product .topic {margin-left: 70px; width: 285px;}
	.gr-body .topic .team {width: 172px; height: 235px;}
	/*.gr-body .bd-workPlace {overflow: hidden;}*/
	.gr-body .bd-workPlace .box {width: 1616px; margin:0 -140px;}
	.gr-body .bd-main {width: 960px;}
	.gr-body .bd-main .tab {width: 735px;}
	
}

@media screen and (min-width:1250px) {
	.gr-container {margin: 0 auto; width: 1206px;}
	.gr-body .bd-product {width: 1270px;  margin-right: 123px;}
	.gr-body .bd-product .topic {margin-left: 84px; width: 339px;}
	.gr-body .topic .team {width: 239px; height: 235px;}
	/*.gr-body .bd-workPlace {overflow: hidden;}*/
	.gr-body .bd-workPlace .box {width: 1616px; margin: 0 auto;}
	.gr-body .bd-main {width: 1216px;}
	.gr-body .bd-main .tab {width: 970px;}
}

/* gr-header */
.gr-header {}
.gr-header .hd-warm {height: 36px; background: #f3f3f3;}
.gr-header .hd-warm a {padding-left: 12px; color: #21a557; line-height: 36px;}
.gr-header .hd-warm span {position: relative; top: 12px; right: 0; float: right; width: 63px; height: 12px; text-indent: 15px; color: #333; background: url(../images/spirit.png) no-repeat -287px -21px;} 


.gr-header .hd-head .logo h1 {margin: 30px 0 37px; width: 265px; text-indent: 84px; color: #333; background: url(../images/spirit.png) no-repeat -228px 3px;}
.gr-header .login .focus {margin: 30px 0 37px;}
.gr-header .focus input {margin-right: 14px; border: 0; border-radius: 2px; width: 54px; height: 21px; background: url(../images/spirit.png) no-repeat -25px 0;}
.gr-header .focus input:hover {background: url(../images/spirit.png) no-repeat -25px -21px;}
.gr-header .focus span {position: relative; top: -6px;font: 12px "宋体"; color: #666;}

.gr-header .sign-in {position: fixed; top: 0; left: 0; z-index: 998; width: 100%; height: 100%;}
.gr-header .shade {width: 100%; height: 100%; background:rgba(0,0,0,0.8)}
.gr-header .form {margin: 144px 0 0 -193px; top: 0; left: 50%; right: 50%; z-index: 999; width: 387px; height: 288px; background: #fff;}
.gr-header .form h2 {margin: 30px 0 20px 39px; color: #444;}
.gr-header .form input {margin:0 0 15px 40px;width: 292px; height: 42px; border: 1px solid #dfdfdf; box-shadow: inset 1px 1px 2px 1px #f1f1f1;}
.gr-header .form input.submit {margin-top: 14px; background: url(../images/spirit.png) no-repeat 0 -48px; border: 0; box-shadow: none;}
.gr-header .form label {position: absolute; left: 51px; font: 16px/42px "Microsoft YaHei"; color: #ccc;}

.gr-header .nav li { float: left; margin: 30px 0;}
.gr-header .nav li a {margin-left: 56px; font: 16px "Hiragino Sans GB"; color: #666;}
.gr-header .nav li a:hover {color: #39a030;}
.gr-header .nav li span {display: block; margin: 0 12px 0 31px; width: 19px; height: 19px; background: url(../images/spirit.png) no-repeat 0 1px;}
.gr-header .nav li span:hover {background: url(../images/spirit.png) no-repeat 0 -19px;}

/* gr-body */
.gr-body {}
.gr-body .bd-wrap {height: 460px;}
.gr-body .bd-wrap .box img {position: absolute; height: 460px; opacity: 0; filter: alpha(opacity: 0);}
.gr-body .bd-wrap .box .active {z-index: 1; opacity: 100; filter: alpha(opacity: 100);}
.gr-body .count {position: absolute; bottom: 20px; left: 50%; right: 50%; z-index: 2; margin-left: -31px; width: 63px;}
.gr-body .count li {margin-left: 11px;  float: left; border-radius: 50%; width: 10px; height: 10px; background: #fff; cursor: pointer;}
.gr-body .count .active {background: #000;}

.gr-body .bd-product {margin-top: 60px;}
.gr-body .topic {height: 235px;}
.gr-body .topic .icon {margin: 7px 20px 0 0; width: 80px; height: 228px; background: url(../images/spirit.png) no-repeat;}
.gr-body .topic .icon1 {background-position: 0 -102px;}
.gr-body .topic .icon2 {background-position: -100px -102px;}
.gr-body .topic .icon3 {background-position: -200px -102px;}
.gr-body .topic .team h3 {margin-bottom: 10px; font: 22px/22px "Microsoft YaHei"; color: #333;}
.gr-body .topic .team p {margin-bottom: 34px; text-indent: 1px; font: 14px/24px "Microsoft YaHei"; color: #666;}
.gr-body .topic .team a {color: #39a030;}
.gr-body .topic .team a:hover {text-decoration: underline;}

.gr-body .bottom {background: #f8f8f8;}
.gr-body .bd-workPlace .box img {float: left; margin-top: 4px; margin-right: 4px; height: 220px;}
.gr-body .bd-workPlace .box .last {margin-right: 0;}

.gr-body .bd-main { min-height: 1550px; margin-top: 81px;}
.gr-body .bd-main .tab {min-height: 1550px;}
.gr-body .tab .tab-btn {margin-bottom: 8px; width: 400px; height: 50px; box-shadow: 1px 1px 1px #dcdcdc;}
.gr-body .tab li {float: left; width: 200px; text-align: center; background: #fff; #color: #666; line-height: 50px;}
.gr-body .tab .active {background: #39a030; color: #fff;}

.gr-body .bd-main .content {margin-left: -18px;}
.gr-body .content .course {float: left; margin: 18px 0 0 18px; width: 225px; height: 228px; background: #fff; box-shadow: 0 1px 1px 1px #e6e6e6;}
.gr-body .course img {margin: 1px 1px; width: 223px; height: 124px;}
.gr-body .course p , .gr-body .course .publisher {font: 12px/22px "Microsoft YaHei"; text-indent: 5px;}
.gr-body .course p {color: #333;}
.gr-body .course .publisher {color: #999;}
.gr-body .course span {margin-left: 5px; padding: 0 3px 0 18px; border: 1px solid #ddd; border-radius: 2px; height: 16px; background: #fff url(../images/spirit.png) no-repeat -97px -19px; text-indent: 18px; font: 8px/28px "Microsoft YaHei"; color: #999;}
.gr-body .course strong {display: block; font: bold 12px/21px "Microsoft YaHei"; text-indent: 5px; color: #ff3f00;}

.gr-body .bd-main .page {margin: 29px 14px 0 0;}
.gr-body .page a {display: block; float: left; margin-left: 10px; width: 20px; height: 20px; font: 14px/20px "Microsoft YaHei"; text-align: center; color: #666;} 
.gr-body .page a:hover {color: #39a030;}
.gr-body .page .active {background: #9dd8b1; color: #fff;}
.gr-body .page .prve {width: 30px; height: 20px; background: url(../images/spirit.png) no-repeat -197px 0;}
.gr-body .page .next {width: 30px; height: 20px; background: url(../images/spirit.png) no-repeat -197px -21px;}

.gr-body .bd-main .sidebar {margin-left: 7px; width: 223px;}
.gr-body .sidebar .video {margin-bottom: 20px; padding-bottom: 10px; height: 229px; background: #fff;  box-shadow: 0 1px 1px 1px #e6e6e6;}
.gr-body .video h2, .gr-body .hostList h2 {border-bottom: 1px solid #ddd; height: 55px; line-height: 55px; text-indent: 20px; color: #333;}
.gr-body .video .title {color: #666; margin-top: 20px; text-indent: 22px;}
.gr-body .video .showPic {margin: 9px 0 0 22px; width: 180px; height: 110px;}
.gr-body .video .showPic .play {position: absolute; top: 32px; left: 66px;}

.gr-body .sidebar .hostList {background: #fff;}
.gr-body .hostList .list {padding: 19px 20px 0 20px;}
.gr-body .list .team {padding-bottom: 20px; height: 50px;}
.gr-body .list img {float: left;}
.gr-body .list p {margin-bottom: 13px; font: 14px/14px "Microsoft YaHei"; color: #333; text-indent: 12px; overflow: hidden; white-space: nowrap;text-overflow: ellipsis;}
.gr-body .list span {margin-left: 13px; padding-left: 15px; font: 9px "Microsoft YaHei"; background: url(../images/spirit.png) no-repeat -100px -18px;}

/* gr-footer */
.gr-footer {height: 262px; background: #2c3339;}
.gr-footer .ft-copyRight {padding: 92px 150px 0 50px;}
.gr-footer .ft-copyRight h2 {color: #39a030; text-indent: 83px; background: url(../images/spirit.png) no-repeat -228px 3px;}
.gr-footer .ft-copyRight p {margin-top: 15px; color: #fff; font: 12.5px/25px "Microsoft YaHei"; opacity: .6; filter: alpha(opacity: 60);}
.gr-footer .link, .gr-footer .about, .gr-footer .more {padding-top: 81px; color: #fff;}
.gr-footer .link {margin-right: 98px;}
.gr-footer .about {margin-right: 104px;}
.gr-footer h3 {color: #fff; font: 12.5px "Microsoft YaHei"; opacity: .6; filter: alpha(opacity: 60);}
.gr-footer li {margin-top: 15px;}
.gr-footer li a {font: 14.58px "Microsoft YaHei"; color: #fff; opacity: .6; filter: alpha(opacity: 60); }
.gr-footer li a:hover {text-decoration: underline;}
.gr-footer li .weibo {display: block; width: 61px; background: url(../images/spirit.png) no-repeat -119px 2px;}



